.cell {
	border: 1px solid #ddd;
	padding: 8px;
	height: 48px;
}

.header {
	font-weight: bold;
	border: 1px solid #ddd;
	padding: 8px;
}

.select-box {
	height: 30px;
	width: 100%;
	padding-left: 12%;
	border-radius: 3px;
}

.alert-wrapper {
	position: fixed;
	bottom: 0;
	left: 50%;
	z-index: 9999;
	transform: translateX(-50%);
}

.alert-box {
	color: #555;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: Tahoma, Geneva, Arial, sans-serif;
	font-size: 11px;
	padding: 10px 36px;
	display: inline-block;
}

.alert-box span {
	font-weight: bold;
	text-transform: uppercase;
}

.message {
	background: #90DED7 url('/resources/images/success.png') no-repeat 10px
		50%;
	border: 1px solid #53DED8;
	border-bottom: none;
}

.error {
	background: #ffecec url('/resources/images/error.png') no-repeat 10px
		50%;
	border: 1px solid #f5aca6;
	border-bottom: none;
}

.edit {
	width: 100%;
	height: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.editable-controls {
	display: flex !important; 
}

.editable-wrap {
	width: 100%;
}

.panel {
	border-radius: 0px !important;
}

.panel-heading:hover {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}